# Ignorar o banco de dados SQLite
users.db
instance/users.db

# Ignorar variáveis de ambiente
.env
.venv

# Ignorar ambiente virtual
env/
venv/

# Ignorar caches do Python
__pycache__/
*.py[cod]
.mypy_cache
